

<div id="container" style="display: grid; " class="head animate__animated animate__fadeInDown ">
  <ion-icon name="arrow-undo" style="display: block; font-size: 25px; padding: 15px  15px 0  15px; color: #fff;" [routerLink]="['../gestion']"></ion-icon>
  <div class="img" style="box-sizing: border-box;">
    <img src="../../assets/vitamine.png" alt="" width="100px" height="80px" >
    <p style="margin-right: 0px; color: #fff;"> <strong>Vitamine </strong></p>
  </div>
</div>
<!-- <ion-label style=" margin-left: 20px ; margin-top: 10px"><strong></strong></ion-label> -->
 <div class="icon_nombre">
  <ion-searchbar slot="end" ></ion-searchbar>
<ion-button [routerLink]="['../ajoutvitamine']" ><ion-icon name="add-circle-outline" style="font-size: 30px;"></ion-icon></ion-button>
</div>


<ion-content>
  <div class="listuser animate__animated animate__fadeInUp">
    <ion-card *ngFor="let vitamine of vitamines; let i = index">
      <ion-card-content>
        <ion-item>
          <div style="width: 20px; height: 20px; border-radius: 50%; background-color: #D9D9D9; display: grid; justify-content: center; align-items: center; margin-right: 10px;">
            <p>{{ i + 1 }}</p>
          </div>
          <ion-label style="cursor: pointer;" [routerLink]="['detailvitamine']">
            <strong>{{ vitamine.nomVitamine }}</strong>
            <br>
            <span style="font-size: 0.8em;">Quantité: {{ vitamine.quantite }}  mg</span>
          </ion-label>
          <div class="iconitem">
            <ion-icon name="create-outline" style="color: #005B2F; cursor: pointer; " [routerLink]="['../modifiervitamine']"></ion-icon>
            <ion-icon name="trash" style="color: red; cursor: pointer;" (click)="confirmDeleteVitamine(vitamine.id)"></ion-icon>
          </div>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>

