<div id="container" style="display: grid; " class="head animate__animated animate__fadeInDown ">
  <div class="img" style="box-sizing: border-box;">
    <img src="../../assets/logo.png" alt="" width="85px" height="80px">
    <p style="margin-right: px;font-size: 25px; color: #fff;"> <strong>PouletFarm </strong></p>
  </div>
</div> 

<ion-content class="animate__animated animate__fadeInUp">
  <form (ngSubmit)="onSubmit()">
    <p style="text-align: center; "> <strong style="text-align: center; color:noir; font-size: 25px; padding: 5px;">Inscription</strong></p>
    <div id="containers">
      <div class="form-controle">
        <div>
          <label>Nom Complet</label>
          <input type="text" placeholder="Ex: Kaly Diallo" name="nom" [(ngModel)]="userData.usernom">  
        </div>  
        <div>
          <label>Email</label>
          <input type="email" placeholder="Ex: kaly@gmail.com" name="email" [(ngModel)]="userData.email">  
        </div>      
        <div>
          <label>Mot de passe</label>
          <input type="password" placeholder="******************" name="mdp" [(ngModel)]="userData.password"> 
        </div>
        <div>
          <label>Confirmer Mot de passe</label>
          <input type="password" placeholder="******************" name="rmdp" [(ngModel)]="userData.rmdp"> 
        </div>
        <input type="submit" id="a" style="color: #fff !important;" value="S'inscrire">
        <h5 style="text-align: center;">J'ai déjà un compte, <a  [routerLink]="['/connexion']" style="color: #005B2F !important; font-weight: bold; padding: 0 10px; margin-left: 10px; border-radius: 5px;">Se connecter</a></h5>
      </div>
    </div>
  </form>
</ion-content>