.select{
    display: flex;
  }
  .iconitem{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  .iconitem {
    font-size: 20px !important;
    margin-left: 20px;
  
  }
  .card{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 10px !important;
    margin-right: 10px !important;
  }
  #card{
    display: grid;
    margin-bottom: 30px;
    margin-left: 10px !important;
    margin-right: 10px !important;
  }
  
  .label {
    font-size: 18px;
    color: #333;
  }
  
  .input {
    font-size: 16px;
    border: none !important;
    border-radius: 15px !important;
   padding: 10px !important;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 5px 5px 5px 0px rgba(69, 68, 68, 0.5),
     10px 10px 30px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
  }
  
  input::placeholder{
    padding-left: 20px ;
  }
  input:focus{
    color: #005B2F;
    font-weight: bold;
    padding-right: 30px ;
  }
  
  .input-item {
    margin-top: 20px;
  }
  
  .submit-button {
    margin-top: 20px;
    background-color: #007bff;
    color: #fff;
    font-size: 18px;
    border: none;
    border-radius: 5px;
  }
  
  .head{
    background-color: red;
    border-radius: 0px  0px 100px 0px;
  
  
  
  }
  .img{
    display: grid;
    justify-content: center;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
  }
  .header{
    display: grid;
    justify-content: center;
    align-items: center;
    margin-left: 30%;
  }
  
  ion-button {
    --background: #005B2F;
  
  
    --color: #fff;
  
    --border-radius: 25px;
    --border-color: #000;
    // --border-style: solid;
    // --border-width: 1px;
  
    // --box-shadow: 0 2px 6px 0 rgb(0, 0, 0, 0.25);
  
    // --ripple-color: deeppink;
  
    // --padding-top: -10px;
    // --padding-bottom: -10px;
  }
  /* --Input file custom---*/
  .parent-div {
    display: inline-block;
    position: relative;
    overflow: hidden;
  }
  
  .parent-div input[type=file] {
    left: 0;
    top: 0;
    opacity: 0;
    position: absolute;
    font-size: 90px;
  }
  
  .btn-upload {
   background-color: white;
   border-radius: 10px;
  color: #000;
  padding: 0 20px 0 20px;
  
      margin-top: 10px;
  }
  .blokimg{
    display: grid;
    justify-content: center;
    align-items: center;
  }
  /* --Input file custom---*/
  
  
  /*--------------------------------------------------------------->*/
  
  
  
  
    .custom-btn {
      width: 130px;
      height: 40px;
      color: #fff;
      border-radius: 25px;
      padding: 10px 25px;
      font-weight: bold;
      background: transparent;
      cursor: pointer;
      transition: all 0.3s ease;
      position: relative;
      display: inline-block;
       box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
       7px 7px 20px 0px rgba(0,0,0,.1),
       4px 4px 5px 0px rgba(0,0,0,.1);
      outline: none;
    }
  
    .main{
      margin: 20px;
    }
  
    /* 5 */
    .frame {
      width: 100%;
      margin: 40px auto;
      text-align: center;
  
    }
    .btn-5 {
      width: 100% !important;
      box-sizing: border-box;
      height: 40px;
      line-height: 42px;
      padding: 0;
      border: none;
      background: #005B2F;
    background: linear-gradient(0deg, #005B2F 0%, #005B2F 100%);
    }
    .btn-5:hover {
      color: #005B2F;
      background: transparent;
       box-shadow:none;
    }
    .btn-5:before,
    .btn-5:after{
      content:'';
      position:absolute;
      top:0;
      right:0;
      height:2px;
      width:0;
      background: #005B2F;
      box-shadow:
       -1px -1px 5px 0px #fff,
       7px 7px 20px 0px #0003,
       4px 4px 5px 0px #0002;
      transition:400ms ease all;
    }
    .btn-5:after{
      right:inherit;
      top:inherit;
      left:0;
      bottom:0;
    }
    .btn-5:hover:before,
    .btn-5:hover:after{
      width:100%;
      transition:800ms ease all;
    }
  
  
  /*--------------------------------------------------------------->*/
  .input-item{
    display: grid;
  
  }
  
  .btn-upload{
    text-decoration: none;
    color: black !important;
    font-weight: bold ;
    background-color: #D9D9D9;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow:inset 5px 5px 5px 1px rgba(255,255,255,.5),
    7px 7px 100px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
  }
  