<div id="container" style="display: grid; " class="head animate__animated animate__fadeInDown ">
  <ion-icon name="arrow-undo" style="display: block; font-size: 25px; padding: 15px  15px 0  15px; color: #fff;" [routerLink]="['../']"></ion-icon>
  <div class="img" style="box-sizing: border-box;">
    <img src="../../assets/bilan.png" alt="" width="100px" height="80px" >
    <p style="margin-right: 0px; color: #fff;"> <strong>Recette </strong></p>
  </div>
</div>
<div class="icon_nombre">
  <ion-searchbar slot="end"></ion-searchbar>
  <ion-button [routerLink]="['../ajoutvitamine']"><ion-icon name="add-circle-outline" style="font-size: 30px;"></ion-icon></ion-button>
</div>

<ion-content>
  <div class="listuser animate__animated animate__fadeInUp">
    <ion-card *ngFor="let recette of recettes">
      <ion-card-content>
        <ion-list>
          <ion-item>
            <!-- Display the number of chickens -->
            <div style="width: 20px; height: 20px; border-radius: 50%; background-color: #D9D9D9; display: grid; justify-content: center; align-items: center; margin-right: 10px;">
              <p>{{ recette.nombre }}</p>
            </div>
       
            <!-- Display the sale date and price -->
            <ion-label style="cursor: pointer;">
              Vente du {{ recette.dateVente | date: 'dd/MM/yyyy'}}
              <br>
              <small>{{ recette.prix }} FCFA</small>
            </ion-label>
            
            <!-- Icon for editing -->
            <ion-icon name="create-outline" style="color: #005B2F; cursor: pointer;" [routerLink]="['../modifiermort']"></ion-icon>
            
            <!-- Icon for deletion -->
            <ion-icon name="trash" style="color: red; cursor: pointer;" (click)="confirmDeleteRecette(recette.id)"></ion-icon>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
