<div id="container" style="display: grid; " class="head animate__animated animate__fadeInDown ">
  <ion-icon name="arrow-undo" style="display: block; font-size: 25px; padding: 15px  15px 0  15px; color: #fff;" [routerLink]="['../vitamine']"></ion-icon>
  <div class="img" style="box-sizing: border-box;">
    <img src="../../assets/vitamine.png" alt="" width="120px" height="120px">
    <p style="margin-right: 20px; color: #fff;"> <strong>Vitamine</strong></p>
  </div>
</div>

<ion-content class=" animate__animated animate__fadeInUp ">

  <ion-card style="border-radius: 25px; background-color: gray; color: black;">
    <ion-card-header>
    </ion-card-header>
  <ion-card-content style="text-align: center; justify-content: center; ">
  <ion-label style="font-size: 20px; font-weight: bold;"><strong>Nom:</strong> VitaFlash</ion-label> <br>
  <ion-label style="font-size: 20px; font-weight: bold;"><strong>Quantité:</strong>2</ion-label> <br>
  <ion-label style="font-size: 20px; font-weight: bold;"><strong>Periode:</strong>30/11/2023</ion-label> <br>
  </ion-card-content>
  </ion-card>
  </ion-content>
