<div id="container" style="display: grid; " class="head animate__animated animate__fadeInDown ">
  <ion-icon name="arrow-undo" style="display: block; font-size: 25px; padding: 15px  15px 0  15px; color: #fff;" [routerLink]="['../']"></ion-icon>
  <div class="img" style="box-sizing: border-box;">
    <img src="../../assets/guide.png" alt="" width="100px" height="80px" >
    <p style="margin-right: 20px; color: #fff;"> <strong>Guide </strong></p>
  </div>
</div>
<ion-content  style="border-radius: 200px;" class="card animate__animated animate__fadeInUp " >
  <div class="elem">
      <div>
        <div class="card animate__animated animate__fadeInUp ">

          <a routerLink="../demarrage" style="text-decoration: none;">
          <ion-card style="border-radius: 25px;">
            <div class="logoimg" style="background-color: orange;"><img alt="Silhouette of mountains" src="../../assets/poussin icone.png" width="100px" height="80px" /></div>
            <ion-card-header>
              <ion-card-title style="font-size: 20px; text-align: center; font-weight: bold; color: #005B2F;">Demarrage</ion-card-title>
            </ion-card-header>
          </ion-card>
        </a>
          <!---->
          <a routerLink="../croissance" style="text-decoration: none;">
          <ion-card style="border-radius: 25px;">
            <div class="logoimg" style="background-color: rgb(0, 255, 128);"><img alt="Silhouette of mountains" src="../../assets/Croissance.png" width="100px" height="80px" /></div>
            <ion-card-header>
              <ion-card-title style="font-size: 20px; text-align: center; font-weight: bold; color: #005B2F;">Croissance</ion-card-title>
            </ion-card-header>
          </ion-card>
        </a>
          <!---->
          <!---->
          <a routerLink="../finition" style="text-decoration: none;">
          <ion-card style="border-radius: 25px;">
            <div class="logoimg" style="background-color: rgb(0, 255, 128);"><img style="margin-top: 1rem;" alt="Silhouette of mountains" src="../../assets/Finition.png" width="50px" height="50px" /></div>
            <ion-card-header>
              <ion-card-title style="font-size: 20px; text-align: center ; font-weight: bold; color: #005B2F;">Finition</ion-card-title>
            </ion-card-header>
          </ion-card>
        </a>
          <!---->
          <!---->
          <a routerLink="../sante" style="text-decoration: none;">
          <ion-card style="border-radius: 25px; " id="card">
            <div class="logoimg" style="background-color: orange;"><img style="margin-top: 1rem;" alt="Silhouette of mountains" src="../../assets/Sante.png" width="50px" height="50px" /></div>
            <ion-card-header>
              <ion-card-title style="font-size: 20px; text-align: center ; font-weight: bold; color: #005B2F;" >Sante</ion-card-title>
            </ion-card-header>
          </ion-card>
          </a>
          <!---->


        </div>
    </div>
  </div>
  </ion-content>
