<div id="container" style="display: grid; " class="head animate__animated animate__fadeInDown ">
  <ion-icon name="arrow-undo" style="display: block; font-size: 25px; padding: 15px  15px 0  15px; color: #fff;" [routerLink]="['../guide']"></ion-icon>
  <div class="img" style="box-sizing: border-box;">
    <img src="../../assets/Croissance.png" alt="" width="100px" height="80px" >
    <p style="margin-right: 20px; color: #fff;"> <strong>Croissance </strong></p>
  </div>
</div>


<ion-content>

  <p><strong style="font-weight: bold; font-size: 20px; text-align: center;">Guide Complet pour la Croissance des Poulets de Chair :</strong></p>
  <audio controls>
    <source src="../../assets/y2mate.com - Comment élever des poussins  prendre soin dun poussin au poulailler Truffaut.mp3" type="audio/mpeg">
    Votre navigateur ne supporte pas l'élément audio.
  </audio>
  <h6 style="font-weight: bold;">Semaine 1-2 : Développement Précoce</h6>
  <p>Pendant les deux premières semaines, les poussins commencent à développer leurs plumes et à renforcer leurs pattes. Assurez-vous qu'ils ont suffisamment d'espace pour se déplacer et se familiariser avec leur environnement.</p>

  <h6 style="font-weight: bold;">Semaine 3-4 : Alimentation et Croissance</h6>
  <p>À mesure qu'ils grandissent, fournissez-leur une alimentation riche en protéines pour soutenir leur croissance. Surveillez leur alimentation et assurez-vous qu'ils ont accès à de l'eau propre en tout temps.</p>

  <h6 style="font-weight: bold;">Semaine 5-6 : Contrôle de la Santé</h6>
  <p>Inspectez régulièrement vos poulets pour détecter tout signe de maladie ou de comportement anormal. Assurez-vous que leur environnement reste propre et bien ventilé pour éviter les problèmes de santé.</p>

  <h6 style="font-weight: bold;">Semaine 7-8 : Préparation à la Finition</h6>
  <p>Au cours de cette période, envisagez de modifier leur alimentation pour favoriser le développement musculaire. Surveillez leur poids et leur condition physique pour préparer la phase de finition.</p>
</ion-content>
