<div id="container" style="display: grid; " class="head animate__animated animate__fadeInDown ">
  <ion-icon name="arrow-undo" style="display: block; font-size: 25px; padding: 15px  15px 0  15px; color: #fff;" [routerLink]="['../recette']"></ion-icon>
  <div class="img" style="box-sizing: border-box;">
    <img src="../../assets/bilan.png" alt="" width="100px" height="80px" >
    <p style="margin-right: 0px; color: #fff;"> <strong>Recette </strong></p>
  </div>
</div>

<ion-content>

  <form (ngSubmit)="ajouterRecette()">
    <div class="main">

    <div  class="input-item">
      <ion-label class="label">Nombre</ion-label>
      <input class="input" type="number" name="nombre" [(ngModel)]="formData.nombre" required/>
    </div >
    <div  class="input-item">
      <ion-label class="label">Prix</ion-label>
      <input class="input" type="text" name="prix" [(ngModel)]="formData.prix" required/>
    </div >

    <div  class="input-item">
      <ion-label class="label">Date de Vente</ion-label>
      <input class="input" type="Date" name="dateVente" [(ngModel)]="formData.dateVente" required/>
    </div >
    <div class="frame">
      <button class="custom-btn btn-5"><span>Ajouter</span></button>

      </div>
    </div>
   </form>
</ion-content>
