<div id="container" style="display: grid; " class="head animate__animated animate__fadeInDown ">
  <ion-icon name="arrow-undo" style="display: block; font-size: 25px; padding: 15px  15px 0  15px; color: #fff;" [routerLink]="['../guide']"></ion-icon>
  <div class="img" style="box-sizing: border-box;">
    <img src="../../assets/Sante.png" alt="" width="100px" height="80px" >
    <p style="margin-right: 20px; color: #fff;"> <strong>Sante </strong></p>
  </div>
</div>

<ion-content>

  <p><strong style="font-weight: bold; font-size: 20px; text-align: center;">Guide pour la Santé des Poulets de Chair :</strong></p>
  <audio controls>
    <source src="../../assets/y2mate.com - Comment élever des poussins  prendre soin dun poussin au poulailler Truffaut.mp3" type="audio/mpeg">
    Votre navigateur ne supporte pas l'élément audio.
  </audio>
  <h6 style="font-weight: bold;color: black; font-size: 20px;"> <u>Coccidiose</u></h6>
  <p><strong>Symptômes :</strong> Diarrhée sanglante, perte d'appétit, plumage ébouriffé.</p>
  <p><strong>Traitement :</strong> Utilisation d'anticoccidiens dans l'alimentation, maintien de l'hygiène.</p>

  <h6 style="font-weight: bold;color: black; font-size: 20px;"> <u>Maladie de Newcastle</u></h6>
  <p><strong>Symptômes :</strong> Problèmes respiratoires, éternuements, paralysie.</p>
  <p><strong>Traitement :</strong> Vaccination, isolement des oiseaux malades, nettoyage approfondi.</p>

  <h6 style="font-weight: bold;color: black; font-size: 20px;"> <u>Grippe Aviaire</u></h6>
  <p><strong>Symptômes :</strong> Gonflement de la tête, problèmes respiratoires graves.</p>
  <p><strong>Traitement :</strong> Isolement immédiat, notification aux autorités sanitaires, élimination des oiseaux infectés.</p>

  <h6 style="font-weight: bold;color: black; font-size: 20px;"> <u>Coryza Infectieuse</u></h6>
  <p><strong>Symptômes :</strong> Écoulement nasal, yeux gonflés, perte d'appétit.</p>
  <p><strong>Traitement :</strong> Antibiotiques prescrits par un vétérinaire, isolation des oiseaux malades.</p>

  <h6 style="font-weight: bold;color: black; font-size: 20px;"> <u>Salmonellose</u></h6>
  <p><strong>Symptômes :</strong> Diarrhée, léthargie, perte de poids.</p>
  <p><strong>Traitement :</strong> Antibiotiques, amélioration des conditions d'hygiène.</p>

  <h6 style="font-weight: bold;color: black; font-size: 20px;">Bonnes Pratiques :</h6>
  <ul>
    <li>Maintenir une hygiène stricte dans les installations et les mangeoires.</li>
    <li>Assurer une ventilation adéquate pour réduire l'humidité et les infections respiratoires.</li>
    <li>Contrôler régulièrement la santé des oiseaux et agir rapidement en cas de symptômes.</li>
    <li>Éviter les contacts avec des oiseaux sauvages ou d'autres élevages contaminés.</li>
    <li>Consulter un vétérinaire aviaire en cas de doute ou de symptômes inhabituels.</li>
  </ul>
</ion-content>