<div id="container" style="display: grid; " class="head animate__animated animate__fadeInDown ">
  <ion-icon name="arrow-undo" style="display: block; font-size: 25px; padding: 15px  15px 0  15px; color: #fff;" [routerLink]="['../guide']"></ion-icon>
  <div class="img" style="box-sizing: border-box;">
    <img src="../../assets/Finition.png" alt="" width="100px" height="80px" >
    <p style="margin-right: 20px; color: #fff;"> <strong>Finition </strong></p>
  </div>
</div>

<ion-content>
  <p><strong style="font-weight: bold; font-size: 20px; text-align: center;">Guide Complet pour la Phase de Finition des Poulets de Chair :</strong></p>
  <audio controls>
    <source src="../../assets/y2mate.com - Comment élever des poussins  prendre soin dun poussin au poulailler Truffaut.mp3" type="audio/mpeg">
    Votre navigateur ne supporte pas l'élément audio.
  </audio>
  <h6 style="font-weight: bold;">Semaine 9-10 : Alimentation pour la Finition</h6>
  <p>Pendant cette période, modifiez l'alimentation pour favoriser une croissance musculaire maximale. Utilisez des aliments spécialement formulés pour la phase de finition afin d'obtenir une qualité de viande optimale.</p>

  <h6 style="font-weight: bold;">Semaine 11-12 : Gestion de l'Environnement</h6>
  <p>Maintenez un environnement propre et bien géré pour réduire le stress chez les poulets. Assurez-vous qu'ils ont suffisamment d'espace pour se déplacer librement et éviter les blessures.</p>

  <h6 style="font-weight: bold;">Semaine 13-14 : Surveillance de la Croissance</h6>
  <p>Surveillez attentivement la croissance et le poids des poulets. Veillez à ce qu'ils continuent à recevoir une alimentation de qualité et un accès constant à de l'eau propre pour assurer une finition optimale.</p>

  <h6 style="font-weight: bold;">Semaine 15 : Préparation à l'Abattage</h6>
  <p>À ce stade, planifiez l'abattage en fonction des normes et réglementations locales. Assurez-vous de respecter les procédures appropriées pour garantir une transition sans stress vers l'abattoir.</p>
</ion-content>
