<div id="container" style="display: grid; " class="head animate__animated animate__fadeInDown ">
  <ion-icon name="arrow-undo" style="display: block; font-size: 25px; padding: 15px  15px 0  15px; color: #fff;" [routerLink]="['../']"></ion-icon>
  <div class="img" style="box-sizing: border-box;">
    <img src="../../assets/Forum.png" alt="" width="150px" height="100px" >
    <p style="margin-right: 0px; color: #fff;"> <strong>Forum </strong></p>
  </div>
</div>

<ion-content class="ion-padding">
<!-- <ion-label style=" margin-left: 20px ; margin-top: 10px"><strong></strong></ion-label> -->
<ion-card routerLink="../ajoutforum" class="new-post-card">
  <ion-card-content class="ion-text-center" style="cursor: pointer;">
    <ion-row class="ion-align-items-center ion-justify-content-between">
      <ion-icon name="chatbubbles" size="medium" color="primary"></ion-icon>
      <ion-title class="new-post-title">Ajouter une publication </ion-title>
      <ion-icon name="images" size="medium" color="primary"></ion-icon>
    </ion-row>
  </ion-card-content>
</ion-card>





  <!-- Forum Posts -->
  <ion-card *ngFor="let post of forumPosts" (click)="redirectPublication(post.id)">
    <ion-card-header>
      <ion-row class="ion-align-items-center">
        <ion-icon name="person" size="large"></ion-icon>
        <ion-title>{{ post.author }}</ion-title>
      </ion-row>
    </ion-card-header>
    <ion-card-content>
      <p>{{ post.content }}</p>
      <ion-img [src]="post.image"></ion-img>
    </ion-card-content>
    <ion-row class="ion-justify-content-between">
      <ion-button (click)="toggleLike(post)" [color]="isLikedByUser(post) ? 'primary' : 'medium'" fill="clear">
        {{ isLikedByUser(post) ? 'Dislike' : 'Like' }} {{ post.likes }}
      </ion-button>
      <ion-button color="secondary" fill="clear" (click)="toggleCommentSection(post)">
        {{ isCommentSectionOpen(post) ? 'Masquer Commentaires' : 'Commenter' }}
      </ion-button>
              <!-- Section pour ajouter un commentaire -->
              <div *ngIf="isCommentSectionOpen(post)" class="ion-align-items-center" style="display: flex;">
                <ion-item>
                  <ion-label position="floating">Ajouter un commentaire</ion-label>
                  <ion-textarea [(ngModel)]="newComment[post.id]" placeholder="Entrez votre commentaire"></ion-textarea>
                </ion-item>
                <ion-button color="primary" (click)="addComment(post)" class="ion-margin-start">
                  <ion-icon name="send" slot="start"></ion-icon></ion-button>
              </div>
              

          <!-- Liste des commentaires existants -->
          <ion-list *ngIf="post.comments && post.comments.length > 0">
            <ion-item *ngFor="let comment of post.comments">
              <ion-label>{{ comment.author }} : {{ comment.text }}</ion-label>
            </ion-item>
          </ion-list>
      <ion-button color="secondary" fill="clear" expand="full" *ngIf="userLoggedInName === post.author" (click)="showOptionsMenu(post)">
        <ion-icon name="ellipsis-horizontal"></ion-icon>
      </ion-button>
      <ion-item-options side="end" *ngIf="activeMenu === post.id">
        <ion-item-option (click)="deletePost(post)">Supprimer la publication</ion-item-option>
      </ion-item-options>
    </ion-row>
  </ion-card>

</ion-content>