<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>profile</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <div class="header">

  </div>
  <div class="contenue">
    <img src="../../assets/profil.JPG" alt="">
    <div class="membre">
      <h6>
       Kaly DIALLO
      </h6>
    </div>
    <div class="comment">
      <ion-icon name="chatbubble-ellipses-outline" style="color: green; font-size: 30px;"></ion-icon>
      <h3 > Laissez nous un commentaire </h3>
    </div>
    <div class="comment">
      <ion-icon name="share" style="color: green; font-size: 30px;"></ion-icon>
      <h3> Partagez l'application </h3>
    </div>
    <div class="comment">
      <ion-icon name="trash" style="color: red; font-size: 30px;"></ion-icon>
      <h3>Supprimer mon Compte </h3>
    </div>
    <button class="deconnexion" (click)="deconnexion()">Déconnexion</button>
  </div>

</ion-content>