

<div id="container" style="display: grid; " class="head animate__animated animate__fadeInDown ">
  <ion-icon name="arrow-undo" style="display: block; font-size: 25px; padding: 15px  15px 0  15px; color: #fff;" [routerLink]="['../']"></ion-icon>
  <div class="img" style="box-sizing: border-box;">
    <img src="../../assets/aliment.png" alt="" width="100px" height="80px" >
    <p style="margin-right: 0px; color: #fff;"> <strong>Aliment </strong></p>
  </div>²
</div>
<!-- <ion-label style=" margin-left: 20px ; margin-top: 10px"><strong></strong></ion-label> -->
 <div class="icon_nombre">
  <ion-searchbar slot="end" ></ion-searchbar>
<ion-button [routerLink]="['../ajoutaliment']" ><ion-icon name="add-circle-outline" style="font-size: 30px;"></ion-icon></ion-button>
</div>

<ion-content>
  <div class="listuser animate__animated animate__fadeInUp ">
    <ion-card *ngFor="let aliment of aliments">
      <ion-card-header style="display: flex; ">
          {{ aliment.typeNourriture }}
        <ion-icon name="trash" style="color: red; cursor: pointer; margin-left: 280px;" (click)="deleteAliment(aliment.id)"></ion-icon>
      </ion-card-header>
      <ion-card-content>
        <p>{{ aliment.quantite }} KG</p>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>