<div id="container" style="display: grid; " class="head animate__animated animate__fadeInDown ">
  <div class="img" style="box-sizing: border-box;">
    <img src="../../assets/logo.png" alt="" width="85px" height="80px">
    <p style="margin-right: px;font-size: 25px; color: #fff;"> <strong>PouletFarm </strong></p>
  </div>
</div> 

<ion-content class="ion-padding">
  <form (ngSubmit)="login()">
    <p style="text-align: center;">
      <strong style="text-align: center; color: noir; font-size: 25px; padding: 5px;">Connexion</strong>
    </p>

    <div id="containers">
      <div class="form">
        <div>
          <label>Email or Username</label>
          <input type="email" placeholder="youremail@gmail.com" name="email" required minlength="3" [(ngModel)]="user.email">
        </div>
        <div>
          <label>Password</label>
          <input type="password" placeholder="******************" name="password" [(ngModel)]="user.password">
        </div>
        <ion-button expand="block" type="submit"  style="color: #fff !important;">Connexion</ion-button>

        <h5 style="text-align: center;">J'ai pas de compte?
          <a [routerLink]="['/inscription']" style="color: #005B2F !important; font-weight: bold; padding: 0 10px; margin-left: 10px; border-radius: 5px;">S'inscrire</a>
        </h5>
      </div>
    </div>
  </form>
</ion-content>
