<div id="container" style="display: grid; " class="head animate__animated animate__fadeInDown ">
  <ion-icon name="arrow-undo" style="display: block; font-size: 25px; padding: 15px  15px 0  15px; color: #fff;" [routerLink]="['../']"></ion-icon>
  <div class="img" style="box-sizing: border-box;">
    <img src="../../assets/stock.png" alt="" width="100px" height="80px" >
    <p style="margin-right: 0px; color: #fff;"> <strong>Stock </strong></p>
  </div>²
</div>
<ion-content>
  <ion-card [style.backgroundImage]="getBackgroundImage(75)" style="color: #fff;box-sizing: border-box; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8);">
    <ion-card-header>
      <ion-card-title>Démarrage</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>75%</p>
    </ion-card-content>
  </ion-card>

  <ion-card style="background-color: #005B2F; color: #fff; margin-top: 20px; box-sizing: border-box; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8);">
    <ion-card-header>
      <ion-card-title>Croissance</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>100%</p>
    </ion-card-content>
  </ion-card>

  <ion-card style="background-color: #005B2F; color: #fff; margin-top: 20px; box-sizing: border-box; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8);">
    <ion-card-header>
      <ion-card-title>Finition</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>100%</p>
    </ion-card-content>
  </ion-card>
</ion-content>
