#container{
    display: grid;
    background-color:orange;
    border-radius: 0 0 80px 0;
  }
  .iconitem{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
  }
  .iconitem {
    font-size: 20px !important;
  
  }
  .img img{
    margin-left: 20px;
  }
  #card{
    display: grid;
    margin-bottom: 30px;
    margin-left: 10px !important;
    margin-right: 10px !important;
  }
  .img{
    display: grid;
    justify-content: center;
    align-items: center !important;
    text-align: center;
  }
  .img img{
    display: grid !important;
    align-items: center;
    // margin-left: 40px;
  }
  .logoimg{
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: #D9D9D9;
  }
