<div id="container" style="display: grid; " class="head animate__animated animate__fadeInDown ">
  <div class="img" style="box-sizing: border-box;">
    <img src="../../assets/logo.png" alt="" width="85px" height="80px">
    <p style="margin-right: px;font-size: 25px; color: #fff;"> <strong>PouletFarm </strong></p>
  </div>
</div> 
<ion-content  style="border-radius: 200px;" class="card animate__animated animate__fadeInUp " >
<div class="elem">
    <div>
      <div class="card animate__animated animate__fadeInUp ">

        <a routerLink="entree" style="text-decoration: none;">
        <ion-card style="border-radius: 25px;">
          <div class="logoimg" style="background-color: orange;"><img alt="Silhouette of mountains" src="../../assets/poussins.png" width="100px" height="80px" /></div>
          <ion-card-header>
            <ion-card-title style="font-size: 20px; text-align: center; font-weight: bold; color: #005B2F;">Entrées</ion-card-title>
          </ion-card-header>
        </ion-card>
      </a>
        <!---->
        <a routerLink="forum" style="text-decoration: none;">
        <ion-card style="border-radius: 25px;">
          <div class="logoimg" style="background-color: blue;"><img alt="Silhouette of mountains" src="../../assets/Forum.png" width="100px" height="80px" /></div>
          <ion-card-header>
            <ion-card-title style="font-size: 20px; text-align: center; font-weight: bold; color: #005B2F;">Forum</ion-card-title>
          </ion-card-header>
        </ion-card>
      </a>
        <!---->
        <!---->
        <a routerLink="calendrier" style="text-decoration: none;">
        <ion-card style="border-radius: 25px;">
          <div class="logoimg" style="background-color: blue;"><img style="margin-top: 1rem;" alt="Silhouette of mountains" src="../../assets/calendrier.png" width="50px" height="50px" /></div>
          <ion-card-header>
            <ion-card-title style="font-size: 20px; text-align: center ; font-weight: bold; color: #005B2F;">Calendrier</ion-card-title>
          </ion-card-header>
        </ion-card>
      </a>
        <!---->
        <!---->
        <a routerLink="alerte" style="text-decoration: none;">
        <ion-card style="border-radius: 25px; " id="card">
          <div class="logoimg" style="background-color: orange;"><img style="margin-top: 1rem;" alt="Silhouette of mountains" src="../../assets/alerte.png" width="50px" height="50px" /></div>
          <ion-card-header>
            <ion-card-title style="font-size: 20px; text-align: center ; font-weight: bold; color: #005B2F;" >Alerte</ion-card-title>
          </ion-card-header>
        </ion-card>
        </a>
        <!---->
    
    
      </div>
      <!---->
      <a routerLink="guide" style="text-decoration: none;">
      <ion-card style="border-radius: 25px;">
        <div class="logoimg" style="background-color: green"><img style="margin-top: 1rem;" alt="Silhouette of mountains" src="../../assets/guide.png" /></div>
        <ion-card-header>
          <ion-card-title style="font-size: 20px; text-align: center ; font-weight: bold; color: #005B2F;">Guide</ion-card-title>
        </ion-card-header>
      </ion-card>
    </a>
  </div>
</div>
</ion-content>
